@page
@using EarthNear1.Models
@using EarthNear1.Services
@inject LogInService LogInService
@model EarthNear1.Pages.Shifts.CreateShiftModel
@{
    ViewData["Title"] = "CreateShift";
}
<h1>Lav en vagt</h1>

<form method="post" class="container-fluid">
    <div class="form-group">
        <label asp-for="@Model.Shift.Date" class="control-label">Dato</label>
        <input asp-for="@Model.Shift.Date"  class="form-control" type="date"/>
        <span asp-validation-for="@Model.Shift.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Shift.TimeFrom" class="control-label">Vagt fra</label>
        <input asp-for="@Model.Shift.TimeFrom" class="form-control" type="time" value="09:00"/>
        <span asp-validation-for="@Model.Shift.TimeFrom" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="@Model.Shift.TimeTo" class="control-label">Vagt til</label>
        <input asp-for="@Model.Shift.TimeTo" class="form-control" type="time" value="12:00"/>
        <span asp-validation-for="@Model.Shift.TimeTo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <option value="">-- Vælg vagttype --</option>
        @*<label asp-for="@Model.Shift.ShiftTypeId" class="control-label">Vagttype</label>*@
        <select asp-for="@Model.Shift.ShiftTypeId" asp-items="@Model.ShiftNames"></select>
        <span asp-validation-for="@Model.Shift.ShiftTypeId" class="text-danger"></span>
    </div>
    
    
    @if (LogInService.GetLoggedUser() != null)
    {
        @if (LogInService.GetLoggedUser().Admin)
        {
            
        }
    }

    <div class="form-group">
        <input type="submit" value="Opret vagt" class="btn btn-primary"/>
    </div>
</form>
