@page
@model EarthNear1.Pages.Shifts.DeleteShiftModel
@{
    ViewData["Title"] = "DeleteShift";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Vagt Id:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftId)
        </dd>

        <dt class="col-sm-2">
            Dato:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Date)
        </dd>

        <dt class="col-sm-2">
            Vagt fra:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.TimeFrom)
        </dd>

        <dt class="col-sm-2">
            Vagt Til
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.TimeTo)
        </dd>

        <dt class="col-sm-2">
            Vagttype
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftType)
        </dd>

        <dt class="col-sm-2">
            Vagt status
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.TimeTo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="submit" value="Slet" class="btn btn-danger"/>
        <a asp-page="GetAllShifts">Tilbage til vagtliste</a>
    </form>
</div>