@page
@using EarthNear1.Models
@using System.Runtime.Serialization
@using EarthNear1.Interfaces
@using EarthNear1.Services
@using System.Diagnostics.Eventing.Reader
@inject LogInService logInService
@inject IShiftTypeService typeService
@inject IBookingService bookingService
@inject IUserService uService
@model EarthNear1.Pages.Shifts.GetAllShiftsModel
@{
    ViewData["Title"] = "GetAllShifts";
}
<h1>Vagter</h1>

<p>
    @if (logInService.GetLoggedUser() != null)
    {
        @if (logInService.GetLoggedUser().Admin)
        {
            <a asp-page="/Shifts/CreateShift" class="btn btn-primary"><strong>Ny vagt+</strong></a>
        }
    }
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Dag
        </th>
        <th>
            Dato
        </th>
        <th>
            Tidspunkt
        </th>
        <th>
            VagtTyper
        </th>
        <th>
            Vagtens status
        </th>
    </tr>
    </thead>
    <tbody>
        @if (Model.Shifts.Count() != 0)
        {
            @foreach (var item in Model.Shifts)
            {
                <tr>
                    <td>
                        @item.Date.ToString("ddddddd")
                    </td>

                    <td>
                        @item.Date.ToString("M")
                    </td>

                    <td>
                        @item.TimeFrom.Hours.ToString("00"):@item.TimeFrom.Minutes.ToString("00") -
                        @item.TimeTo.Hours.ToString("00"):@item.TimeTo.Minutes.ToString("00")
                    </td>

                    <td>
                        @typeService.GetShiftTypeByIdAsync(@item.ShiftTypeId).Result.ShiftName
                    </td>
                    <td>
                        @if (logInService.GetLoggedUser() != null)
                        {
                            @if (bookingService.GetBookingByShiftIdAsync(item.ShiftId).Result.Count == 0)
                            {
                                <a class="btn btn-success" asp-page="/Book/CreateBook" asp-route-id="@item.ShiftId"><strong>Ledig vagt</strong></a>
                            }
                            else
                            {
                                foreach (var us in bookingService.GetBookingByShiftIdAsync(item.ShiftId).Result)
                                {
                                    <p>
                                        Taget af @uService.GetUserFromIdAsync(us.UserId).Result.Name
                                        @uService.GetUserFromIdAsync(us.UserId).Result.AfterName
                                    </p>

                                }
                            }
                        }
                    </td>

                    <td style="margin: 60px">
                        @if (logInService.GetLoggedUser() != null)
                        {
                            @if (logInService.GetLoggedUser().Admin)
                            {
                                <a class="btn btn-primary" asp-page="/Shifts/UpdateShift" asp-route-id="@item.ShiftId"><strong>opdater vagt</strong></a>
                                <a class="btn btn-danger" asp-page="/Shifts/DeleteShift" asp-route-id="@item.ShiftId"><strong>Slet vagt</strong></a>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>