@page
@using EarthNear1.Models
@using System.Runtime.Serialization
@using EarthNear1.Interfaces
@using EarthNear1.Services
@using System.Diagnostics.Eventing.Reader
@inject LogInService logInService
@inject IShiftTypeService typeService
@inject IBookingService bookingService
@model EarthNear1.Pages.Shifts.GetAllShiftsModel
@{
    ViewData["Title"] = "GetAllShifts";
}
<h1>Vagter</h1>

<p>
    @if (logInService.GetLoggedUser() != null)
    {
        @if (logInService.GetLoggedUser().Admin)
        {
            <a asp-page="/Shifts/CreateShift" class="btn btn-primary"><strong>Ny vagt+</strong></a>
        }
    }
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Dag
        </th>
        <th>
            Dato
        </th>
        <th>
            Tidspunkt
        </th>
        <th>
            VagtTyper
        </th>
        <th>
            Vagtstatus
        </th>
        <th>
            Knapper
        </th>
    </tr>
    </thead>
    <tbody>
        @if (Model.Shifts.Count() != 0)
        {
            @foreach (var item in Model.Shifts)
            {
                <tr>
                    <td>
                        @item.Date.ToString("") - @item.Date.ToString("ddddddd")
                    </td>
                    <td>
                        @item.Date.ToString("d")
                    </td>

                    <td>
                        @item.TimeFrom.Hours.ToString("00"):@item.TimeFrom.Minutes.ToString("00") -
                        @item.TimeTo.Hours.ToString("00"):@item.TimeTo.Minutes.ToString("00")
                    </td>

                    <td>
                        @typeService.GetShiftTypeByIdAsync(@item.ShiftTypeId).Result.ShiftName
                    </td>

                    @*@if (@bookingService.GetBookingByIdAsync(item.ShiftId) != null)
            {
            }*@
                    <td>
                        <b>@item.ShiftStatus</b>
                    </td>

                    @if (logInService.GetLoggedUser() != null)
                    {
                        if (logInService.GetLoggedUser().Admin)
                        {
                            <td>
                                <div style="margin: 50px">
                                    @*hidden="@bookingService.GetB(??) =! null ? true :false"*@
                                    @if (bookingService.GetBookingByShiftId(item.ShiftId) != null)
                                    {
                                        <a hidden="@bookingService.GetBookingByShiftId(item.ShiftId)" class="btn btn-primary" asp-page="/Book/CreateBook" asp-route-id="@item.ShiftId"><strong>Ledig vagt</strong></a>
                                    }
                                    <a class="btn btn-primary" asp-page="/Shifts/UpdateShift" asp-route-id="@item.ShiftId"><strong>opdater vagt</strong></a>
                                    <a class="btn btn-danger" asp-page="/Shifts/DeleteShift" asp-route-id="@item.ShiftId"><strong>Slet vagt</strong></a>
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>