@page
@using EarthNear1.Interfaces
@inject IShiftTypeService ShiftTypes
@inject IUserService userSV
@model EarthNear1.Pages.Types.ShiftUsers.CreateShiftUsersModel
@{
    ViewData["Title"] = "CreateShiftUsers";
}

<div class="row">
    <div class="col-sm-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.shiftUser.UserId" class="control-label"></label><br />
                @userSV.GetUserFromIdAsync(Model.User.UserId).Result.Name
                @userSV.GetUserFromIdAsync(Model.User.UserId).Result.AfterName
                <input hidden="hidden" asp-for="@Model.shiftUser.UserId" class="form-control" />
                <span asp-validation-for="@Model.shiftUser.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.shiftUser.ShiftTypeId" class="control-label"></label><br />
                @foreach (var jt in Model.shifttypes)
                {
                    <input type="checkbox" name="AreChecked" value="@jt.ShiftTypeId" />
                    @jt.ShiftName<br />
                }
                @*<select asp-for="@Model.shiftUser.ShiftTypeId" asp-items="@Model.typesList" class="form-control"></select>*@
                @*<span asp-validation-for="@Model.shiftUser.ShiftTypeId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="submit" value="ShiftUser" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>