@page
@using EarthNear1.Interfaces
@using EarthNear1.Services
@inject IShiftTypeService typeService
@inject IShiftService shiftService
@inject IBookingService bookingService
@inject LogInService logInService
@inject IUserService uService
@model EarthNear1.Pages.Book.AssignBookingModel
@{
    ViewData["Title"] = "AssignBooking";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Dato
            </th>
            <th>
                Tidspunkt
            </th>
            <th>
                VagtTyper
            </th>
            <th>
                Tildel medlem
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Shifts.Count() != 0)
        {
            @foreach (var item in Model.Shifts)
            {
                <tr>
                    <td>
                        <strong>@item.Date.ToString("ddddddd")</strong> @item.Date.ToString("d")
                    </td>

                    <td>
                        @item.TimeFrom.Hours.ToString("00"):@item.TimeFrom.Minutes.ToString("00") -
                        @item.TimeTo.Hours.ToString("00"):@item.TimeTo.Minutes.ToString("00")
                    </td>

                    <td>
                        @typeService.GetShiftTypeByIdAsync(@item.ShiftTypeId).Result.ShiftName
                    </td>
                    <td>
                        @if(bookingService.GetBookingByShiftIdAsync(item.ShiftId).Result.Count == 0)
                        {
                            <form method="post" enctype="multipart/form-data">
                                <input hidden="hidden" asp-for="@item.ShiftId"/>
                                <div class="form-group">
                                    <select asp-for="@Model.Booking.UserId" asp-items="@Model.userList">
                                        <option value="">--Tildel medlem--</option>
                                    </select>
                                    <span asp-validation-for="@Model.Booking.UserId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" asp-route-id="@item.ShiftId" value="Book" class="btn btn-primary"/>
                                </div>
                            </form>
                        }
                        else
                        {
                            foreach (var us in bookingService.GetBookingByShiftIdAsync(item.ShiftId).Result)
                            {
                                <p>
                                    Taget af @uService.GetUserFromIdAsync(us.UserId).Result.Name
                                    @uService.GetUserFromIdAsync(us.UserId).Result.AfterName
                                </p>

                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>