@page
@model EarthNear1.Pages.Book.CreateBookModel
@{
    ViewData["Title"] = "CreateBook";
}

<div class="row">
    <div class="col-sm-4">
        <form method="post">
            
            <div class="form-group">
                <label asp-for="@Model.Booking.UserId" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.Booking.UserId" class="form-control"/>
                <span asp-validation-for="@Model.Booking.UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.ShiftId" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.Booking.ShiftId" class="form-control"/>
                <span asp-validation-for="@Model.Booking.ShiftId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
                <a asp-page="/Shifts/GetAllShifts" class="btn btn-primary">Tilabge til vagtliste</a>
            </div>
        </form>
    </div>
</div>
