@page
@using EarthNear1.Interfaces
@model EarthNear1.Pages.Book.GetAllBookingsModel
@inject IUserService userService
@inject IShiftService sService
@inject IShiftTypeService typeService
@{
    ViewData["Title"] = "GetAllBookings";
}

<h1>Bookede vagter</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Vagt
        </th>

        <th>
            Person
        </th>

        <th>
            Dato
        </th>
        <th>
            Tid
        </th>
    </tr>
    </thead>
    <tbody>
        @if (Model.Bookings.Count() != 0)
        {
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @typeService.GetShiftTypeByIdAsync(sService.GetShiftByIdAsync(item.ShiftId).Result.ShiftTypeId).Result.ShiftName
                    </td>

                    <td>
                        @userService.GetUserFromIdAsync(item.UserId).Result.Name
                    </td>

                    <td>
                        @sService.GetShiftByIdAsync(item.ShiftId).Result.Date.ToString("d")
                    </td>

                    <td>
                        @sService.GetShiftByIdAsync(item.ShiftId).Result.TimeFrom.Hours.ToString("00"):@sService.GetShiftByIdAsync(item.ShiftId).Result.TimeFrom.Minutes.ToString("00") -
                        @sService.GetShiftByIdAsync(item.ShiftId).Result.TimeTo.Hours.ToString("00"):@sService.GetShiftByIdAsync(item.ShiftId).Result.TimeTo.Minutes.ToString("00")
                    </td>
                    
                    <td>
                        <form>
                            <a asp-page="/Book/DeleteBooking" class="btn btn-warning" asp-route-id="@item.BookingId"><strong>Slet booking</strong></a>
                        </form>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
