@page
@model EarthNear1.Pages.Users.GetAllUsersModel
@{
    ViewData["Title"] = "GetAllUsers";
}
<h1>Medlemmer</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">tilføj nyt medlem</a>
</p>
<form>
    <p>
        <input type="text" asp-for="FilterCriteria"/>
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                MedlemsId
            </th>
            <th>
                Navn
            </th>
            <th>
                EfterNavn
            </th>
            <th>
                Nummer
            </th>
            <th>
                Email
            </th>
            <th>
                Kodeord
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() != 0)
        {
            @foreach (var item in Model.Users)
            {
        <tr>
            <td>
                @item.UserId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AfterName
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                <p>
                    <a asp-page="/Users/Update" asp-route-id="@item.UserId">Updater</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-page="/Users/Delete" asp-route-id="@item.UserId">Slet</a>
                </p>
            </td>
        </tr>
            }
        }
    </tbody>
</table>