@page
@model EarthNear1.Pages.Users.GetAllUsersModel
@using EarthNear1.Services
@inject LogInService logInService
@{
    ViewData["Title"] = "GetAllUsers";

}
<h1>Medlemmer</h1>

<p>
    @if (logInService.GetLoggedUser() != null)
    {
        @if (logInService.GetLoggedUser().Admin)
        {
            <a asp-page="Create" class="btn btn-primary"><strong>Ny medlem+</strong></a>
        }
    }


</p>
<form>
    <p>
        <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Nummer
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() != 0)
        {
            @foreach (var item in Model.Users)
            {
        <tr>
            <td>
                @item.Name
                @item.AfterName
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Email
            </td>
            @if (logInService.GetLoggedUser() != null)
            {
                @if (logInService.GetLoggedUser().Admin)
                {
                    <td>
                        <div class="btn-group-vertical">
                            <a class="btn btn-primary" asp-page="/Users/Update" asp-route-id="@item.UserId"><strong>Updater medlem</strong></a>
                            <br />
                            <a class="btn btn-danger" asp-page="/Users/Delete" asp-route-id="@item.UserId"><strong>Slet medlem</strong></a>
                        </div>
                    </td>
                }
            }

        </tr>
            }
        }
    </tbody>
</table>