@page
@using EarthNear1.Services
@inject LogInService LogInService 
@model EarthNear1.Pages.Users.UpdateModel
@{
    ViewData["Title"] = "Update user";
    var photoPath = "~/images/Photos/" + (Model.User.UserImage ?? "noimage.jpg");
}

<h1>Rediger Profil</h1>

<form method="post" enctype="multipart/form-data">
    <div class="media border p-3">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.User.UserId" />
            <input type="hidden" asp-for="@Model.User.UserImage" />
            <div class="form-group">
                <label asp-for="@Model.User.Name" class="control-label"></label>
                <input asp-for="@Model.User.Name" class="form-control" />
                <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.AfterName" class="control-label"></label>
                <input asp-for="@Model.User.AfterName" class="form-control" />
                <span asp-validation-for="@Model.User.AfterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.User.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Email" class="control-label"></label>
                <input asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Password" class="control-label"></label>
                <input asp-for="@Model.User.Password" class="form-control" />
                @*<span asp-validation-for="@Model.User.Password" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Password2" class="control-label"></label>
                <input asp-for="@Model.User.Password2" class="form-control" />
                <span asp-validation-for="@Model.User.Password2" class="text-danger"></span>
            </div>

            @if (LogInService.GetLoggedUser().Admin)
            {
                <div class="form-group">
                    <label asp-for="@Model.User.Admin" class="control-label"></label>
                    <input type="radio" asp-for="@Model.User.Admin" value="true" />Ja
                    <input type="radio" asp-for="@Model.User.Admin" value="false" />Nej
                    <span asp-validation-for="@Model.User.Admin" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="col-sm-4 offset-4">
            @*<div class="form-group">

            </div>*@
            <img class="rounded-circle" src="@photoPath" asp-append-version="true" width="306" height="236" /><br />
            <div class="custom-file">
                <input asp-for="Photo" class="custom-file-input form-control" />
                <label class="custom-file-label">Skift profilbillede</label>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Gem" class="btn btn-primary" />
    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>