@using EarthNear1.Services;
@inject LogInService LogInService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EarthNear1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/images/Logo/logo (1).png" style="max-height: 125px" alt="JordNærLogo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Book/GetAllBookings">Bookede vagter</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Shifts/GetAllShifts">Vagttider</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Types/ShiftTypes/GetAllShiftTypes">Vagttyper</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/GetAllUsers">Medlemmer</a>
                        </li>
                        @if (LogInService.GetLoggedUser() != null)
                        {

                            @if (LogInService.GetLoggedUser().Admin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/AdminHub">Admin Hub</a>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>

                        <li class="ml-auto">
                            <div class="container-fluid">
                                @{ if (LogInService.GetLoggedUser() != null)
                                    {
                                        <a asp-page="/Users/Log/LogOut" class="float-right" style="font-size: medium">Log Out</a>
                                        <p class="float-right" style="font-size: medium">&nbsp; | &nbsp;</p>
                                        <div class="float-right">
                                            <a asp-page="/Users/Profile" asp-route-id="@LogInService.GetLoggedUser().UserId" class="float-right" style="font-size: medium">
                                                @LogInService.GetLoggedUser().Name
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-page="/Users/Log/LogIn" class="float-right btn btn-primary" style="font-size: medium">Log In</a>
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EarthNear1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
